@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[class~="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-public-sans);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

/* Fix for Plotly hover functionality */
.plotly-graph-wrapper .nsewdrag {
  pointer-events: all !important;
  height: 100% !important;
}

.plotly-graph-wrapper .bglayer {
  pointer-events: all !important;
}

.plotly-graph-wrapper .hoverlayer {
  pointer-events: none !important;
}
